* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --base-color: 194;
  --primary-color:hsl(var(--base-color), 100%, 63%);

  --ct-color: hsla(var(--base-color), 100%, 63%, 0.13);
  --bg-color: hsl(var(--base-color), 5%, 7%);
  --tx-color: hsl(0, 0%, 100%);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--tx-color); 

  display: grid;
  min-height: 100vh;
}

main {
  align-self: end;
  justify-self: center;
} 

.hide {
  display: none;
}

.timer {
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
  display: flex;
  margin-bottom: 1.6rem;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

.play svg path,
.pause svg path,
.sound-on svg path {
  fill: var(--primary-color);
}

.controls {
  background-color: var(--ct-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  border-radius: 999.9rem;

  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vh, 10.8rem);
}

footer {
  align-self: end;
  justify-self: end;

  padding: 0 4rem 3.2rem 0;
}